
							<div class="h4 small light editable">SUIVEZ NOUS</div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="follow">
                                <a href="#" class="entry"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.facebook.com/4eoeil" class="entry"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="entry"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#" class="entry"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="entry"><i class="fa fa-google-plus"></i></a>
                            </div>
                            
                            