								<div class="h4 small editable">CONTACT INFO</div>
                                <div class="empty-space col-xs-b10"></div>
                                <p>Le 4e oeil studi photo aux Grands voisins
                                <br/>82 ave Denfert-Rochereau
                                <br/>75014 Paris</p>

                               
                                <p class="editable">Davide DEL GIUDICE <a class="mouseover-simple" href="/fr/mailto:ddgphoto@gmail.com" style="color: #fff;"><b>ddgphoto@gmail.com</b></a> <a class="mouseover-simple" href="tel:+33663437203">06&nbsp;63&nbsp;43&nbsp;72&nbsp;03</a> <a href=""><a></p>

                                <p class="editable">Marine LALE <a class="mouseover-simple" href="/fr/mailto:marinelale@gmail.com" style="color: #fff;"><b>marinelale@gmail.com</b></a> <a href=""><a></p>

                                 <p class="editable">Chris MANN <a class="mouseover-simple" href="/fr/mailto:christopher@mann.fr" style="color: #fff;"><b>christophre@mann.fr</b></a> <a class="mouseover-simple" href="tel:+33781811811">07&nbsp;81&nbsp;81&nbsp;18&nbsp;11</a> <a href="http://photo.mann.fr"><a></p>

                                <p class="editable">Jérémie WACH-CHASTEL <a class="mouseover-simple" href="/fr/mailto:jeremie.wach@gmail.com" style="color: #fff;"><b>
                                jeremie.wach@gmail.com</b></a> <a class="mouseover-simple" href="tel:+33663400736">06&nbsp;63&nbsp;40&nbsp;07&nbsp;36</a> <a href=""><a></p>