										<span class="title">Suivez-nous :</span>
                                        <a class="entry" href="#"><i class="fa fa-instagram"></i></a>
                                        <a class="entry" href="http://www.facebook.com/4eoeil"><i class="fa fa-facebook"></i></a>
                                        <a class="entry" href="#"><i class="fa fa-pinterest-p"></i></a>
                                        <a class="entry" href="#"><i class="fa fa-twitter"></i></a>
                                        <a class="entry" href="#"><i class="fa fa-google-plus"></i></a>