                                <ul>
                                                <li class="active">
                                                    <a href="/{{ page.lang }}/index.html">Home</a>
                                                </li>
                                                <li>
                                                    <a href="/{{ page.lang }}/a-propos/index.html">A propos</a>
                                                </li>
                                                <li>
                                                    <a href="/{{ page.lang }}/portfolio/index.html">Portfolio</a>
                                                    <span class="toggle-icon"></span>
                                                    <ul>
                                                        <li>
                                                            <a href="/{{ page.lang }}/portfolio/genre/index.html">Par Genre</a>
                                                            <span class="toggle-icon"></span>
                                                            <ul>
                                                                <li><a href="/{{ page.lang }}/portfolio/genre/portraits/index.html">Portraits</a></li>
                                                                <li><a href="/{{ page.lang }}/portfolio/genre/produits/index.html">Produits</a></li>
                                                                <li><a href="/{{ page.lang }}/portfolio/genre/mariages/index.html">Mariages</a></li>
                                                                <li><a href="/{{ page.lang }}/portfolio/genre/reportages/index.html">Reportages</a></li>
                                                                <li><a href="/{{ page.lang }}/portfolio/genre/evenements/index.html">Evenements</a></li>
                                                                <li><a href="/{{ page.lang }}/portfolio/genre/entreprise/index.html">Communication d'entreprise</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="/{{ page.lang }}/portfolio/projets/index.html">Projets</a>
                                                            <span class="toggle-icon"></span>
                                                            <ul>
                                                                <li><a href="/{{ page.lang }}/portfolio/projets/2016/4oeil/anges/index.html">On n'est pas des anges, juin 2016</a></li>
                                                                <li><a href="/{{ page.lang }}/portfolio/projets/2016/4oeil/pourquoi/index.html">Pourquoi tu te mouilles, août 2016</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a href="/{{ page.lang }}/services/index.html">Services</a>
                                                    <span class="toggle-icon"></span>
                                                    <ul>
                                                        <li>
                                                            <a href="/{{ page.lang }}/services/studio/index.html">Photographie de studio</a>
                                                        </li>
                                                        <li>
                                                            <a href="/{{ page.lang }}/services/exterieur/index.html">Photographie en extérieur</a>
                                                        </li>
                                                        <li>
                                                            <a href="/{{ page.lang }}/services/produits/index.html">Photographie de produits</a>
                                                        </li>
                                                        <li>
                                                            <a href="/{{ page.lang }}/services/entreprise/index.html">Communication d'entreprise</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a href="/{{ page.lang }}/blog/index.html">Blog</a>
                                                </li>
                                            </ul>